body {
    height: 100vh;
}

.registration-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-block__title {
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.registration-form {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.registration-form > input {
    margin-bottom: 2%;
    height: 50px;
    border: 2px solid #212529;
    border-radius: 10px;
    transition: 0.8s;
}

.registration-form > input:focus {
    background-color: #212529;
    color: white;
    transition: 0.8s;
}

.registration-form > button {
    height: 40px;
    border: 2px solid #212529;
    border-radius: 10px;
    background-color: transparent;
    transition: 0.8s;
}

.registration-form > button:hover {
    background-color: #212529;
    color: white;
    transition: 0.8s;
}

/* footer styles */

footer {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    background-color: #212529;
    color: white;
    position: absolute;
    bottom: 0;
}

.footer__text {
    margin: 1%;
    font-size: 12px;
}
/* end footer styles */